{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <ul class="list">
            <li class="item">
                <h3 class="detail-head" >{{ post.title }}</h3>
                <div class="published-detail">
                    <span>{{ post.published_date }} | 작성일</span><br>
                    <span>{{ post.author }} | 작성자</span>
                </div>
                <div class="content">{{ post.content|linebreaksbr }}</div>
            </li>
        </ul>
        <a href="/">
            <button type="button" class="btn btn-primary to-main">To Main</button>
        </a>
        <form action="{% url 'post_delete' pk=post.pk  %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Post</button>
        </form>
    </div>
{% endblock %}